.item-wrap {
    // column-count: 3;
    gap: 15px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .item {
        border-radius: 12px;
        overflow: hidden;
    }

    .item-img {
        height: 140px;
        object-fit: cover;
    }

    .delete-wrap {
        right: 0px;
        top: 0px;
        z-index: 2;
        padding: 4px 6px;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .item-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    .item-wrap {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .item-wrap {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1601px) {
    .item-wrap {
        grid-template-columns: repeat(5, 1fr);
    }
}

.catergory-wrap { 
    .leve-item {
        padding: 4px 20px;
    }

    .active::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: #6844ca;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
}