.item-wrap {
    // column-count: 3;
    gap: 15px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .item {
        border-radius: 12px;
        overflow: hidden;
    }

    .item-img {
        height: 140px;
        object-fit: cover;
    }
}

.catergory-wrap { 
    .leve-item {
        padding: 4px 20px;
    }

    .active::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: #6844ca;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
}