.sentent-wrap {
    font-size: 48px;
    max-width: 1200px;
    padding: 10px 30px;
    // margin: auto;

    .item-word {
        height: 64px;
        border-bottom-width: 3px;
        min-width: 106px;
        
    }

    .active {
        border-color: var(--highlight);
        color: var(--highlight);

        &::after {
            content: "|";
            animation: showHideCursor 1s steps(1) infinite
        }
    }
}

.process-wrap {
    height: 8px;
    border-radius: 8px;
    .sentent-wrap {
        background-color: #2B9A66;
        transition: width 0.5s ease-in-out;
    }
    
}

@keyframes showHideCursor {
    50% {
        visibility: hidden;
    }
}