
.leftSider {
    width: 256px;
    height: calc(100vh - 50px);
}

.active {
    background-color: #e6e6e6;
    border-radius: 6px;
}

.mActive {
    background-color: #e6e6e6;
    font-weight: bold;
    
}

.mNavBar {
    height: 50px;
}

.navEemilWrap {
    @media (min-width: 0px) and (max-width: 768px) {
        display: none;
    }
}
