.sentent-wrap {
    font-size: 48px;
    max-width: 1200px;
    padding: 10px 30px;
    margin: 150px auto 20px;

    .item-word {
        height: 64px;
        border-bottom-width: 3px;
        min-width: 106px;
        
    }
    .active {
        border-color: var(--highlight);
        color: var(--highlight);

        &::after {
            content: "|";
            animation: showHideCursor 1s steps(1) infinite
        }
    }
    .right-word {
        color: #2B9A66;
        border-color: #2B9A66
    }
    .wrong-word {
        color: #E03E2F;
        border-color: #E03E2F
    }

   
}

.game-wrap {
    font-size: 18px;
    margin: 0;
    .item-word {
        height: 26px;
        border-bottom-width: 2px;
        min-width: 50px;
        
    }
}

.process-wrap {
    height: 8px;
    border-radius: 8px;
    .process {
        background-color: #2B9A66;
        transition: width 0.5s ease-in-out;
    }
    
}

@keyframes showHideCursor {
    50% {
        visibility: hidden;
    }
}