.audioWrap {
    height: 60px;
    background-color: #e7e7e7;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.progressLine {
    background-color: rgb(119, 117, 117, 0.5);
    height: 5px;
    left: 0;
    top: 0;
}

.progressBar {
    background-color: rgba(59, 59, 59, 0.5);
}