.active-word {
    /* background-color: yellow; */
    color: #fff;
    background-color: rgba(136, 93, 253, 1);
    font-size: 18px;
    padding: 6px;
    border-radius: 12px;
}

.sentence-item {
    background-color: rgba(136, 93, 253, .12);
    border-radius: 12px;
}

.content-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 768px) {
    .audio-btn-wrap {
        .pr-8 {
            padding-right: 15px;
        }
    }
}